*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  background-color: #272c27;
  color: #f5f4f2;
}


#home,
#projects,
#about{
  scroll-margin-top: 120px;
  /* padding-top: 20px  */
  /* background-color: green; */
}

p{
  color: #aaa;
}
















/* HEADER */
.site-header{
  position: sticky;
  height: auto;
  top: 0;
  z-index: 10;
}


.header-inner{
  background: #b5c6b5;
  border-bottom: 1px solid #272c27;
  /* max-width: 70%; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 18rem;
  height: 9vh;
}

/* ANIMATED LOGO */
.logo {
  display: inline-block; 
  width: 180px; 
  height: auto;
}

.logo text{
  padding: 2px;
  font: 800 120px/1  sans-serif;
  fill: transparent;
  stroke: #272c27;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 600; stroke-dashoffset: 1200;
  animation: draw 6s ease forwards infinite;
}

/* stroke-dasharray property defines a pattern of dashes and gaps along a path (or text outline) */
/* make one dash that’s 1200 units long, then a gap of 1200 units, then repeat */

@keyframes draw { 
  to { 
    stroke-dashoffset: 0; 
  }
}

/*  stroke-dashoffset property shifts the starting point of the dash pattern along the stroke path.
when stroke-dashoffset equals the same value as the dash length, the entire stroke is hidden
when you animate it from that large offset down (1200) to 0, the dash appears */


nav {
  display: flex; 
  gap: 50px;
}

nav a {
  position: relative;
  color: #1c1c1c;
  font-size:18px;
  padding-bottom: 4px; /* room for the underline */
  text-decoration: none; /* remove default underline */
}

nav a {
  text-decoration: none; 
  padding-bottom: 4px;                                 
  background: linear-gradient(#1c1c1c, #1c1c1c) left bottom / 0 3px no-repeat;
  transition: background-size .25s ease;
}

/* -linear-gradient(#f4e7d3, #f4e7d3) This is the “image” — a solid-color strip made from a gradient that goes from tan to tan (so it just looks like a solid line).
-left bottom Position the gradient at the bottom left of the element.
- / 0 3px This is the background-size: width 0 height 3px.
→ width = 0 (starts invisible)
→ height = 3px (the thickness of the underline).
no-repeat Only draw it once; don’t tile it.  */

nav a:hover {
  background-size: 100% 3px; /* 100% length - 3px - height of line animates left→right */
}



















main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  width: 100vw;
}

/* HERO HOME SECTION */
.hero{
  background-color: #b5c6b5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 91vh;
}

.hero-inner {
  width: 80%;
  /* background-color: green; */
  max-width: 1100px;
  padding-bottom: 150px;
  display: grid; 
  align-items:center;
  grid-template-columns: 1.1fr 1fr; 
}
 
@media (max-width: 900px){ 
  .hero-inner{ 
    grid-template-columns: 1fr; 
  } 
}

.hero-text h1 { 
  color: #1c1c1c;
  margin:0 0 40px; 
  font-family: "Bodoni Moda", serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 60px;
}
.hero-text h1 span{
  position: relative;
  /* left: 30%; */
  font-size: 80px;
  /* letter-spacing: 10px; */
} 

.hero-text p  {
  margin:0 0 22px; 
  max-width: 46ch; /* keeps it from getting too close to the cards */
  color:#333; 
  font-size: 18px; 
  line-height: 2;
}

.hero-button { 
  display:flex; 
  gap:14px; 
  flex-wrap: wrap; 
}

.btn { 
  display:inline-block; 
  padding:14px 18px; 
  border-radius:6px; 
  color:#f5f4f2; 
  background:#272c27; 
  
  text-decoration:none; 
  font-weight:500;
  transition: background .2s ease, color .2s ease;
}

.btn:hover { 
  background:#7a8c7a;
  color:#eee;
}

.glow {
  position: relative;
  z-index: 1;
}
.glow::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 12px;
  background: linear-gradient(120deg, #fff, #b5c6b5);
  filter: blur(10px);
  z-index: -1;
}


/* right side cards */
.hero-cards {
  /* background-color: blue; */
  position:relative;
  right: 0%;
  height: 380px; 
  z-index: 2;
}
 
.card { 
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  width:250px; 
  height: 400px;
  border-radius:14px;
  box-shadow: 0 14px 30px rgba(0,0,0,.18); 
  border:1px solid #1c3e3c; 
}

/* simple overlap layout */
.c1 {
  background-image: url(https://images.unsplash.com/photo-1618788372246-79faff0c3742?q=80&w=927&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  top: 0;   
  right: 0%;  
}

.c2 { 
  background-image: url(https://images.unsplash.com/photo-1672957603474-fe1d31c482e4?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  top: 16%; 
  right: 20%; 
}

.c3 { 
  background-image: url(https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?q=80&w=1355&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  top: 32%; 
  right: 40%;  
}

/* CARD ANIMATIONS */
.card { 
  animation: float 6s ease-in-out infinite; 
}
 
.c2 { 
  animation-duration: 6s; 
  animation-delay: .6s; 
}
 
.c3 { 
  animation-duration: 4s; 
  animation-delay: .2s; 
}
 
/* subtle float animation staggered */
@keyframes float { 
  0%,100% { 
    translate:0 0; 
  }

  50% { 
    translate:0 -20px; 
  } 
}
 
 
/* motion preference */
@media (prefers-reduced-motion: reduce){
  .card { animation: none; }
}



 /* Hero section animation */
.wave-container{
  width: 100vw;
}
.wave{
    background: #272c27;
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 200%;
    height: 10em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    height: 11em;
    animation: wave 30s linear reverse infinite ;
    opacity: .7;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    height: 12em;
    animation: wave 20s -1s reverse infinite;
    opacity: .5;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
















/* PROJECTS SECTION */
.projects{
  position: relative;
  padding: 80px 0;
  border-radius: 14px;

  background-color: #f5f4f2;
  background-image: url("https://images.unsplash.com/photo-1761259787769-0693fc5a422c?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 82vh;
  z-index: 1;
}

.projects h2{
  /* padding: 30px 0 px 0; */
  text-align: center;
  font-size: 36px;
}
.projects p{
  padding: 20px 0 30px 0;
  text-align: center;
  line-height: 1.5;
}

.grid{
  /* background-color: #eee; */
  /* padding: 16px; */
  /* border-radius: 14px; */
  /* border: #b5c6b5 1px solid; */
  width: 100%;
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}


@media (max-width: 1000px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid{
    grid-template-columns: 1fr;
  }
}

.thumb{
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  aspect-ratio: 3 / 5;
  opacity: 0;
  transform: translateY(0px) scale(1);
  animation: pop .5s ease both;
  box-shadow: 0px 2px 10px rgba(0,0,0,.1);
}

.thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform .35s ease;
}

.cap{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  translate: 0 100%;
  transition: translate .35s ease;
  padding: 10px 12px;
  font-weight: 500;
  background: #b5c6b5;
  color: #1c3e3c;
}

/* HOVER REVEALS THE CAPTION */
.thumb:hover img{
  transform: scale(1.1);
}

.thumb:hover .cap{
  translate: 0 0;
}

@keyframes pop {
  from{
    transform: translateY(14px) scale(1);
  }
  to{
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


















/* ABOUT & CONTACT */
.about, .contact{
  /* background-color: cadetblue; */
}
.about{
  min-height: 60vh;
}
.about h2, .contact h2{
  padding: 15px 0 30px;
  text-align: center;
  font-size: 36px;
  /* font-weight: 500; */
}


/* about */
.about-content{
  /* background-color: red; */
  width: 1150px;
  padding: 1px;
}
.about-content section{
  /* background-color: blue; */
  padding: 1px;
}

.about-main{
  /* background-color: green; */
  padding: 1px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about-main p{
  width: 60%;
  line-height: 2;
}
.about-main div{
  background-image: url("https://images.unsplash.com/photo-1569847252045-6de47b0ca36f?q=80&w=2254&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 10px;
  height: 100;
  width: 40%;
  flex-shrink: 0;
}


.about-extra{
  margin: 16px 0;
  display: flex;
  gap: 10px;
}
.extra{
  /* background-color: red; */
  display: block;
  position: relative;
  /* border: #b5c6b5 1px solid; */
  /* overflow: hidden; */
  width: 25%;
  height: 140px;
  border-radius: 6px;
  /* box-shadow: 0px 0px 10px 0px #b5c6b576; */
}
.extra-toggle{
  display: none;
}
.extra-header{
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background-color: #7a8c7a;
  padding: 20px;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.extra-header:hover{
  cursor: pointer;
}
.extra-header div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  /* background-color: #1c1c1c; */
  transform: rotate(45deg);
  font-size: 12px;
  transition: transform 0.45s ease;
  pointer-events: none;
}
.extra:has(.extra-toggle:checked) .extra-header div{
  transform: rotate(270deg);
}

.extra-text{
  position: absolute;
  top: 50px;
  background-color: #272c27;
  border: #7a8c7a solid 2px;
  border-radius: 0 0 6px 6px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 0;
  transition: height 1.5s ease .3s;
}
.extra:has(.extra-toggle:checked) .extra-text{
  height: 270px;
}

.extra-text p{
  margin: 30px 18px;
  line-height: 1.7;
}







/* contact */
.contact{
  background-image: linear-gradient(#00000088, #00000088), url("https://images.unsplash.com/photo-1655039448514-833b60a552e1?q=80&w=2318&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;


  width: 100%;
  padding: 107px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
  /* max-width: 1100px; */
  /* margin: 0 auto; */
}

.main-container{
  width: 1150px;
  /* background-color: green; */
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main-container section{
    /* background-color: #dddbc0; */
    height: auto;
    padding: 40px 0;
}
.main-container section:nth-child(1){
    /* background-color: #c0dddb; */
    
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 5px; */
}
.main-container section:nth-child(1) h3{
}
.main-container section:nth-child(1) p{
  line-height: 1.5;
}



.main-container section:nth-child(2) {
  width: 55%;
}
/************************************** FORM STYLES ********************************************/
.main-container form{
    /* background-color: #2c2c2c; */
    background-color: white;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    color: black;
    /* margin: 40px; */
}
.main-container form div{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-container form label{
    /* display: inline-block; */
    /* padding: 12px 20px; */
    border: none;
}
.main-container form div textarea,
.main-container form div input{
    padding: 16px 22px;
    /* border: 1px solid #414141bd; */
    border: none;
    background-color: #f1f1f1;
    border-radius: 6px;
    height: 100%;
}

.main-container form div:nth-child(3){
    grid-row: span 3;
  }
  /* .main-container form div:nth-child(5){
    display: flex;
    align-items: end;
    } */
.main-container form div:nth-child(6){
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 4;
}
.main-container form div:nth-child(6) button{
  background-color: #272c27;
  border: none;
  border-radius: 6px;
  padding: 18px 0;
  width: 100%;
  margin-top: auto;
  
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.main-container form div:nth-child(6) button:hover{
  background-color: #7a8c7a;
}





















/* FOOTER */
.site-footer{
  background: #f5f4f2;
  color: #1c1c1c;
  border-top: 1px solid #1c3e3c;
  /* margin-top: 100px; */
}

.footer-inner{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 14px 16px;
}

.social{
  display: flex;
  gap: 14px;
}

.social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social i{
  font-size: 28px;
  display: block;
  color: #1c1c1c;
}

.social a:hover{
  opacity: .75;
}









/* button animations */

.btn,
input[type="button"],
button {
  /* remove transform property here */
  transform: scale(1) translateY(0);
  transition: transform .15s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.btn:hover,
input[type="button"]:hover,
button:hover{
  transform: scale(1) translateY(-2px);
}


/* keep the active transform */
.btn:active,
input[type="button"]:active,
button:active{
  transform: scale(.96) translateY(0);
}